business-simulation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="simulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="sector" type="xs:string" />
        <xs:element name="scenario" type="xs:string" />
        <xs:element name="author">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="date">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="value" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="revision">
          <xs:complexType>
            <xs:attribute name="version" type="xs:string" use="required" />
            <xs:attribute name="date" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="level" />
        <xs:element name="documentation">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="uri" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="participants">
          <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="time">
          <xs:complexType>
            <xs:attribute name="period" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="dimensions">
          <xs:complexType>
            <xs:attribute name="competitive" type="xs:string" use="required" />
            <xs:attribute name="interactive" type="xs:string" use="required" />
            <xs:attribute name="deteministic" type="xs:string" use="required" />
            <xs:attribute name="tiered" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="teams">
          <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="required" />
            <xs:attribute name="allocation" type="xs:string" use="required" />
            <xs:attribute name="maxsize" type="xs:string" use="required" />
            <xs:attribute name="minsize" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="rounds">
          <xs:complexType>
            <xs:attribute name="count" type="xs:string" use="required" />
            <xs:attribute name="strict" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ending">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="condition">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="aicompetitor">
          <xs:complexType>
            <xs:attribute name="brain" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="noise">
          <xs:complexType>
            <xs:attribute name="value" type="xs:string" use="required" />
            <xs:attribute name="start" type="xs:string" use="required" />
            <xs:attribute name="end" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="influences">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="influence">
                <xs:complexType>
                  <xs:attribute name="scale" type="xs:string" use="required" />
                  <xs:attribute name="source" type="xs:string" use="required" />
                  <xs:attribute name="location" type="xs:string" use="required" />
                  <xs:attribute name="impact" type="xs:string" use="required" />
                  <xs:attribute name="start" type="xs:string" use="required" />
                  <xs:attribute name="end" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="steps">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="step">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="decision">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="formula" type="xs:string" use="required" />
                        <xs:attribute name="output" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="order" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="feedback" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="variables">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="variable">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="maximum" type="xs:string" use="required" />
                  <xs:attribute name="minimum" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="forumlas">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="formula">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="reporting">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="element">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>